<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>component</title>
</head>
<body>
<div id="root">
  <h3>intro</h3>
</div>
<script type="module">
  import BSComponent from '//node.com/modules/BSXml/BSComponent.js'
  
  class Log extends BSComponent {
    constructor() {
      super()
      this.template = `
        recent {{$logs.length}} log{{$logs.length > 1 ? 's' : ''}}:
        @for({{$logs}}) {
          p {
            {{$item}}
          }
        }
      `
      this.dataset = {
        logs: []
      }
    }
  }
  
  class Input extends BSComponent {
    constructor() {
      super()
      this.template = `
        input {
          ~ dict {{$name}}
          ~ placeholder {{$placeholder}}
          ! click clear
          ! keyup typed
        }
      `
      this.dataset = {
        name: 'text',
        placeholder: ''
      }
      this.functions = {
        typed({inputs, $this}) {
          $this.notify({
            signal: 'text', text: inputs[$this.dataset.name]
          })
        },
        clear({target}) {
          target.value = ''
        }
      }
    }
  
  }
  
  class Button extends BSComponent {
    constructor() {
      super()
      this.template = `
          button {
            !click hit
            {{$name}}
          }
        `
      this.dataset = {
        count: 0,
        name: 'button'
      }
      this.functions = {
        hit({dataset, $this}) {
          dataset.count++
          console.log(`hit ${dataset.count} time${dataset.count > 1 ? 's' : ''}`)
          const current = new Date()
          if (!$this.context.logs) {
            $this.context.logs = []
          }
          $this.context.logs.push({
            count: dataset.count, time: current
          })
          $this.notify({
            signal: 'greet', last: current
          })
        }
      }
    }
  }
  
  class Page extends BSComponent {
    constructor() {
      super()
      this.template = `
          div #page {
            h3 {
              p {
                welcome
                
                span #username {
                }
              }
              p #greeting {
                {{$greeting}}
              }
            }
            div {
              @Input username
              @Input message
              @Button {{$button}}
            }
            @Log logs
          }
        `
      this.dataset = {
        greeting: 'unset',
        button: 'hit'
      }
      this.functions = {
        greet({$this}) {
          document.querySelector('#username').innerText = $this.components.username.inputs.username
          const count = $this.components.hit.dataset.count
          $this.dataset.greeting = `worked again for ${count} time${count > 1 ? 's' : ''}`
          this.render()
          this.printLogs()
        },
        render: () => {
          document.querySelector('#greeting').innerText = this.dataset.greeting
        },
        printLogs: () => {
          this.components.logs.dataset.logs = this.context.logs.slice(-3).map(({count, time}) =>
            `${count}: ${time.toLocaleString()}`
          )
          this.components.logs.refresh()
        }
      }
      this.need = {
        Button, Input, Log
      }
      this.listen = {
        greet: ({last}) => {
          console.log('last hit at ' + last.toLocaleString())
          this.functions.greet({$this: this})
          this.components.message.inputs.text = `received:` + this.components.message.inputs.text
        },
        text: ({text}) => {
          console.log('typed: ' + text)
        }
      }
    }
    
    beforePaint() {
      console.log(document.querySelector('#page'))
    }
    
    afterPaint() {
      console.log(document.querySelector('#page'))
    }
  }
  
  new Page().read({
    greeting: 'BSXml component worked!'
  }).plug({
    hit: new Button().read({
      name: 'hit'
    }),
    username: new Input().read({
      name: 'username', placeholder: 'username'
    })
  }).paint(document.querySelector('#root'), 'append')
</script>
</body>
</html>