html,
body {
  margin: 0;
  user-select: none;
  background-color: #eee;
  font-family: 'Consolas', 'Monaco', 'Arial';
}

.timeline {
  min-height: 30em;
  margin: auto;
  width: min-content;
  max-width: 50em;
}

.empty-time-point {
  display: none;
}

.time-point {
  padding: 1em;
  background-color: #ddd;
  width: 20em;
  box-shadow: #ccc 0.25em 0.25em 0.2em;
  border-radius: 0.5em;
  display: inline-block;
  margin: 1em;
}

.time-point-datetime {
  font-size: 1em;
  font-weight: bolder;
  color: #444;
  word-wrap: break-word;
}

.time-point-content {
  margin-top: 1.2em;
  font-size: 1em;
  color: #111;
}

.footer {
  width: max-content;
  margin: auto;
  padding: 1em;
  color: #555;
}

.footer img {
  display: inline;
}

.footer a {
  text-decoration: none;
  font-size: smaller;
  color: #666;
}

.footer p {
  margin: 0;
  padding: 0.25em;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 55em) {
  .timeline {
    width: 50em;
  }
  
  .time-point {
    width: 25em;
  }
  
  .empty-time-point {
    width: 15em;
    display: inline-block;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
}